{% load static %}
<!doctype html>
<html class="h-full" lang="fr">
  <head>
    <title>{% block title %}notes{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="icon"
      href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14'%3E📝%3C/text%3E%3C/svg%3E"
      type="image/svg+xml"
    />
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"/>
  </head>

  <body>
    {% block content %}{% endblock %}
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  </body>

</html>
